# Maven / Java
target/
*.class
*.jar
*.war
*.ear

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.settings/
bin/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
.nb-gradle/

# IntelliJ
out/
*.ipr
*.iws
*.iml

# Spring Boot
spring.log

# Environment variables
.env
.env.local
.env.*.local

# OS Files
.DS_Store
Thumbs.db

# Others
*.swp
*.bak
*~ 
